.dashboard-content {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #fff;
    gap: 2rem;
    text-shadow: black 0px 0px 5px;
}
.stats-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-shrink: 0;
    min-width: 100%;
}
.stat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 60px 40px 60px;
    flex-grow: 1;
    text-align: center;
    min-height: 100%;
}
.stat-wrapper:hover {
    transform: scale(1.07);
    border-radius: 2.5rem;
}
.stat-title {
    margin: 0 0 5px 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ccc;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}
.stat-value {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}
.stat-sub-value {
    margin: 5px 0 0 0;
    font-size: 0.8rem;
    color: #aaa;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}
.list-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding: 20px;
    z-index: 1;
    pointer-events: all;
}
.list-container:has(.charts-container) {
  flex-direction: row;
  align-items: space-between;
  gap: 20px;
}
.table-container {
    display: flex;
    overflow-y: auto;
    height: 100%;
    border-radius: 1.25rem;
    flex: 1;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15),
                0 4px 12px rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}

.table-container::-webkit-scrollbar {
    width: 10px;
}
.table-container::-webkit-scrollbar-track {
    background: transparent;
}
.table-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4); 
}
.table-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
table {
    width: 100%;
    border-collapse: collapse;
}
.mission-column {
    width: 30%;
}
th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
thead th {
    background-color: rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
tbody tr {
    transition: background-color 0.2s ease;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
.mission-patch {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.status-success {
    color: #4ade80;
    font-weight: bold;
}
.status-failure {
    color: #f87171;
    font-weight: bold;
}


/* SEARCH BAR AND FILTER STYLES */
.search-controls {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 28px;
    margin-bottom: 1.5rem;
    align-items: center;
}
.filter-buttons {
    display: flex;
    gap: 2rem;
}
.filter-btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);    
    font-size: 0.9rem;
    color: white;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.5);
    box-shadow: 
        inset -10px -8px 0px -11px rgba(255, 255, 255, 0.7),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 0.7),
        inset 10px 8px 0px -11px rgba(255, 255, 255, 0.4),
        inset 0px 9px 0px -8px rgba(255, 255, 255, 0.4);
}
#success {
    color: #4ade80;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#failure {
    color: #f87171;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.filter-btn:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.3);
}
.filter-btn.active#success {
    background: #4ade80;
    color: #000000;
    box-shadow: 0 0 15px rgba(0, 255, 60, 0.5);
    text-shadow: none;
}
.filter-btn.active#failure {
    background: #f87171;
    color: #000000;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
    text-shadow: none;
}
.search-input {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 22px;
    width: 200px;
    font-size: 1rem;
    outline: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-input:focus {
    width: 300px;
    background: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

/* CHARTS STYLING */
.charts-container {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}
.chart-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.chart-wrapper h4 {
  margin-top: 0;
  text-align: center;
}

/* CHARTS TOGGLE STYLING */

.charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-toggle {
    position: relative;
    display: flex;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.chart-toggle::before {
    content: '';
    position: absolute;
    top: 5px;
    left: var(--bubble-left, 5px);
    width: var(--bubble-width, 0px);
    height: calc(100% - 10px);
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 50px;
    z-index: 1;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1); */
}

.chart-toggle.switching::before {
    box-shadow: 
        inset -10px -8px 0px -11px rgba(255, 255, 255, 0.5),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 0.5),
        inset 10px 8px 0px -11px rgba(255, 255, 255, 0.3),
        inset 0px 9px 0px -8px rgba(255, 255, 255, 0.3),

        0 0 10px 2px rgba(255, 255, 255, 0.05),
        0 0 25px 5px rgba(255, 255, 255, 0.025);
    transform: scale(1.05, 1.5);
    border-radius: 50px;
    -webkit-backdrop-filter: contrast(1.2);
    backdrop-filter: contrast(1.2);
}

.toggle-btn {
    background: none;
    border: none;
    position: relative;
    z-index: 2;
    padding: 8px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #ccc;
    cursor: pointer;
    transition: color 0.4s ease;
}

.toggle-btn.active {
    color: #00fbff;
}

/* TIME RANGE SLIDER STYLES */
.time-range-slider { width: 100%; max-width: 500px; text-align: center; }
.time-range-slider label { font-weight: 500; }
.slider-inputs { display: flex; gap: 1rem; margin-top: 10px; margin-bottom: 6px; align-items: center; }

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track: included in search bar javascript*/
/* input[type="range"]::-webkit-slider-runnable-track {
   background-color: #1158db;
   border-radius: 0.5rem;
   height: 0.5rem;  
} */

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -1px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: #ffffff;
   border: 1px solid #c4c4c4;
   height: 1.125rem;
   width: 1.875rem;
   border-radius: 2rem;
   transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

input[type="range"]:focus::-webkit-slider-thumb {   
  border: 1px solid #053a5f;
  margin-top: -0px; /* Centers thumb on the track */
  
  /*custom styles*/
  background-color: transparent;
  border: none;
  /* box-shadow: inset 1px 1px 0.5px 0 rgba(140, 140, 140, 0.5),
    inset -0.5px -0.5px 0.5px 0.5px rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(1px) brightness(1.5) drop-shadow(0 0 10px rgba(0, 0, 0, 1));
  box-shadow: 
    inset -10px -8px 0px -11px rgba(255, 255, 255, 0.7),
    inset 0px -9px 0px -8px rgba(255, 255, 255, 0.7),
    inset 10px 8px 0px -11px rgba(255, 255, 255, 0.4),
    inset 0px 9px 0px -8px rgba(255, 255, 255, 0.4),

    0 0 10px 2px rgba(255, 255, 255, 0.05),
    0 0 25px 5px rgba(255, 255, 255, 0.025);
  height: 1.5rem;
  width: 2.5rem;
  border-radius: 2rem;
}

/******** Firefox styles ********/
/* slider track: included in search bar javascript*/
/* input[type="range"]::-moz-range-track {
   background-color: #1158db;
   border-radius: 0.5rem;
   height: 0.5rem;
} */

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   appearance: none;
   margin-top: -5px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: #ffffff;
   border: 1px solid #c4c4c4;
   height: 1.125rem;
   width: 1.875rem;
   border-radius: 2rem;
   transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  margin-top: -8px; /* Centers thumb on the track */
  
  /*custom styles*/
  background-color: transparent;
  border: none;
  /* box-shadow: inset 1px 1px 0.5px 0 rgba(140, 140, 140, 0.5),
    inset -0.5px -0.5px 0.5px 0.5px rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(1px) brightness(1.5);
  box-shadow: 
    inset -10px -8px 0px -11px rgba(255, 255, 255, 0.7),
    inset 0px -9px 0px -8px rgba(255, 255, 255, 0.7),
    inset 10px 8px 0px -11px rgba(255, 255, 255, 0.4),
    inset 0px 9px 0px -8px rgba(255, 255, 255, 0.4),

    0 0 10px 2px rgba(255, 255, 255, 0.05),
    0 0 25px 5px rgba(255, 255, 255, 0.025);
  height: 1.5rem;
  width: 2.5rem;
  border-radius: 2rem;
}

@keyframes liquid-expand {
    from {
        transform: scale(1.03);
    }
    to {
        transform: scale(1);
    }
}
.list-wrapper.animate-expand {
    animation: liquid-expand 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}