html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Change size as needed */
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;

  /* Variable font settings */
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
}

.whole-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.sidenav {
  width: 300px;
  padding: 40px;
  box-sizing: border-box;
  height: 100%;
  border-radius: 1.5rem;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.logo img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
}


